{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container mx-auto px-2 h-auto flex flex-col md:flex-row items-center justify-between mb-32">
  <div id="productId" data-product-id="{{ product.id }}" class="grid grid-cols-1 md:grid-cols-2 my-auto mx-auto gap-20">
      <!-- Section des images -->
      <div class="flex flex-col items-center">
          <img style="width:450px;" data-modal-target="first_picture" data-modal-toggle="first_picture" src="{{ product.thumbnails1.url }}" alt="{{ product.name }}" class="rounded-3xl hover:opacity-60 cursor-pointer mt-8">

          <!-- Modal pour la première image -->
          <div id="first_picture" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-2xl max-h-full">
                  <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                      <img data-modal-target="first_picture" data-modal-toggle="first_picture" src="{{ product.thumbnails1.url }}" alt="{{ product.name }}" class="w-screen rounded-2xl">
                  </div>
              </div>
          </div>

          <!-- Section des miniatures d'images -->
          <div class="flex justify-center items-center gap-5 mt-5">
              <img data-modal-target="second_picture" data-modal-toggle="second_picture" class="w-auto h-28 rounded-xl hover:opacity-60 cursor-pointer" src="{{ product.thumbnails2.url }}" alt="{{ product.name }}">
              <div id="second_picture" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                  <div class="relative w-full max-w-2xl max-h-full">
                      <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                          <img data-modal-target="second_picture" data-modal-toggle="second_picture" src="{{ product.thumbnails2.url }}" alt="{{ product.name }}" class="w-screen rounded-2xl">
                      </div>
                  </div>
              </div>

              <img data-modal-target="third_picture" data-modal-toggle="third_picture" class="w-auto h-28 rounded-xl hover:opacity-60 cursor-pointer" src="{{ product.thumbnails3.url }}" alt="{{ product.name }}">
              <div id="third_picture" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                  <div class="relative w-full max-w-2xl max-h-full">
                      <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                          <img data-modal-target="third_picture" data-modal-toggle="third_picture" src="{{ product.thumbnails3.url }}" alt="{{ product.name }}" class="w-screen rounded-2xl">
                      </div>
                  </div>
              </div>

              <img data-modal-target="fourth_picture" data-modal-toggle="fourth_picture" class="w-auto h-28 rounded-xl hover:opacity-60 cursor-pointer" src="{{ product.thumbnails4.url }}" alt="{{ product.name }}">
              <div id="fourth_picture" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                  <div class="relative w-full max-w-2xl max-h-full">
                      <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                          <img data-modal-target="fourth_picture" data-modal-toggle="fourth_picture" src="{{ product.thumbnails4.url }}" alt="{{ product.name }}" class="w-screen rounded-2xl">
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Section des informations sur le produit -->
      <div class="flex justify-center mt-4  items-center">
          <div class="max-w-sm rounded-xl overflow-hidden bg-gray-200 shadow-xl w-full">
              <div class="px-4 py-4">
                  <div class="font-bold text-2xl mb-2">{{ product.name }}</div>
              </div>
              <div class="px-4 py-2">
                <div class="flex justify-between items-center">
                    {% if product.promo %}
                    <div>
                        <span class="font-light text-lg">{{ product.price_promo | floatformat }} €</span>
                        <span class="text-red-500 text-sm line-through">{{ product.price | floatformat }} €</span>
                    </div>
                    {% else %}
                    <span class="font-light text-lg">{{ product.price | floatformat }} €</span>
                    {% endif %}
                </div>
                  <br>
                  <div class="flex justify-between items-center">
                      <span class="font-light text-sm">{{ product.short_description }}</span>
                      <br>
                  </div>
                  <br>
              </div>

              <div class="px-4 py-2">
                  <div class="font-bold text-md mb-5">{% translate "Available size" %}</div>

                  <div class="flex space-x-2">
                      {% for product_taille in product_tailles %}
                          <div class="flex flex-col items-center">
                              <div class="{% if product_taille.stock == 0 %} bg-red-600 text-white {% else %} bg-green-400 {% endif %} rounded-full h-10 w-10 flex items-center justify-center">
                                  {{ product_taille.taille.taille }}
                              </div>
                              <div class="text-sm mt-1">
                                  {% if product_taille.stock == 0 %}
                                      <span class="text-red-500">{% translate "Stock-out" %}</span>
                                  {% else %}
                                      <span class="text-green-500">{% translate "Available"%}</span>
                                  {% endif %}
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <div class="px-4 py-2">
                  <div class="px-5 flex justify-center mt-auto">
                      <div class="font-bold text-md my-5">{% translate "Choose your size" %}</div>
                  </div>
                  <form id="addToCartForm" method="post" action="{% url 'add-to-cart' product.slug %}">
                      {% csrf_token %}
                      <div class="px-5 flex justify-center mt-auto">
                          <select id="sizeSelect" name="product_taille_id" class="appearance-none bg-white border border-gray-300 rounded-md py-2 px-4 mb-4 w-full max-w-xs"></select>
                      </div>
                      <div class="px-5 py-5 flex justify-center mt-auto">
                          <button type="submit" id="addToCartButton" class="bg-green-500 text-white px-4 py-2 rounded" disabled style="opacity: 30%;">
                              {% translate "Add to Cart" %}
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="container mx-auto mt-8 mb-10 w-full px-10 table-container">
  <table class="table-auto w-full mx-auto">
      <thead class="border-b border-black">
          <tr class="bg-yellow-400 w-full">
              <th class="px-4 py-2 text-xl text-black">{% translate "Description" %}</th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-200">
              <td class="px-4 py-5 border font-light">{{ product.long_description }}</td>
          </tr>
          <tr class="bg-yellow-400 w-full">
              <th class="px-4 py-2 text-xl text-black">{% translate "Product material" %}</th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-200">
              <td class="px-4 py-5 border font-light">{{ product.matiere }}</td>
          </tr>
          <tr class="bg-yellow-400 w-full">
              <th class="px-4 py-2 text-xl text-black">{% translate "Color" %}</th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-200">
              <td class="px-4 py-5 border font-light">{{ product.couleur }}</td>
          </tr>
          <tr class="bg-yellow-400 w-full">
              <th class="px-4 py-2 text-xl text-black">{% translate "Category" %}</th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-gray-200">
              <td class="px-4 py-5 border font-light">{{ product.categorie }}</td>
          </tr>
      </tbody>
  </table>
</div>


{% if viewed_products %}
<div class="container w-4/5 mx-auto mt-32">
    <h1 class="text-3xl font-bold text-black text-center mt-10 mb-5">{% trans "Maybe you will like ?" %}</h1>
    <hr class="my-10">
</div>

<section class="splide w-4/5 mx-auto">
    <div class="splide__track">
        <ul class="splide__list">
            {% for product in viewed_products %}
            <li class="splide__slide p-10 flex align-center justify-center">
                 <div class="max-w-xs rounded-md overflow-hidden shadow-md flex flex-col h-full">
            <div class="h-64 overflow-hidden flex justify-center items-center">
                <img src="{{ product.thumbnails1.url }}" alt="{{ product.name }}" class="object-cover w-full h-full">
            </div>
            <div class="px-4 pt-2 flex-grow">
                <div class="font-bold text-lg mb-2">{{ product.name }}</div>
            </div>
            <div class="px-4">
                <div class="flex justify-between items-center">
                    <span class="font-light text-lg">{{ product.price | floatformat }} €</span>
                </div>
            </div>
            <div class="px-5 py-5 flex justify-center mt-auto">
                <a href="{% url 'product' product.slug %}" class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-1 text-center w-full rounded-md text-sm mx-auto">
                    {% translate "See details" %}
                </a>
            </div>
        </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
        type: "loop",
        perPage: 1,
        breakpoints: {
            1440: {
                perPage: 3,
            },
            1024: {
                perPage: 3,
            },
            768: {
                perPage: 1,
            },
            640: {
                perPage: 1,
            },
            375: {
                perPage: 1,
            },
            320: {
                perPage: 1,
            },
        },
        focus: "center",
    });

    splide.mount();
});
</script>
  {% endblock %}
  
  {% block extra_js %}
  <script defer src="{% static 'js/ajax_size_detail.js' %}"></script>
  <script defer src="{% static 'js/carousel_viewedProduct.js' %}"></script>
  {% endblock %}