{% extends 'base.html' %}

{% load i18n %}
{% load static  %}
{% block content %}

{% if user.is_authenticated %}

  <div  class=" w-full bg-black text-white text-xl flex justify-center items-center font-bold p-2  shadow-md mt-30">
    {% translate "Welcome" %} {{ user.first_name }} ! 
  </div>
{% else %}
    <div id="element"  class=" w-full bg-black text-white text-xl flex justify-center items-center font-bold p-2  shadow-md mt-30">
        {% translate "Welcome" %} {{ user.first_name }} ! 
    </div>
  

{% endif %} 


<div class="flex flex-col sm:flex-row align-center justify-center w-full gap-20 h-4/6 mt-20">
    <div class="relative flex flex-col items-center px-6">
        <img id="img_femme"  class="rounded-lg " src="{% static 'images/categorie_femme.webp' %}" alt="">
        <h1 class="absolute text-img  xl:text-5xl l:text-2xl md-sm:text-2xl sm:text-4xl">{% translate "Woman" %}</h1>
        <a href="{% url 'category' category_slug='femme' %}" class="absolute bg-yellow-400 px-6 py-1 sm:px-8 sm:py-2 text-lg sm:text-xl rounded-full text-black btn-cta-hompage hover:bg-black hover:text-white transition-colors duration-300 ease-in-out">
            {% translate "Let's see" %}
        </a>
    </div>
    <div class="relative flex flex-col items-center mt-10 sm:mt-0 px-6">
        <img id="img_homme" class="rounded-lg" src="{% static 'images/categorie_homme.webp' %}" alt="">
        <h1 class="absolute text-img  xl:text-5xl l:text-2xl md-sm:text-2xl sm:text-4xl">{% translate "Men" %}</h1>
        <a href="{% url 'category' category_slug='homme' %}" class="absolute bg-yellow-400 px-6 py-1 sm:px-8 sm:py-2 text-lg sm:text-xl rounded-full text-black btn-cta-hompage hover:bg-black hover:text-white transition-colors duration-300 ease-in-out">
            {% translate "Let's see" %}
        </a>
    </div>
</div>


<div class="container w-4/5 mx-auto ">
    <h1 class="text-3xl font-bold text-black text-center mt-10 mb-5">{% translate "Latest products added" %}</h1>
    <hr class="mt-10 w-5/6 mx-auto">
</div>
<div class="container flex items-center justify-center my-10 mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for product in latest_products %}
        <div class="max-w-xs rounded-md overflow-hidden shadow-md flex flex-col h-full">
            <div class="h-64 overflow-hidden flex justify-center items-center">
                <img src="{{ product.thumbnails1.url }}" alt="{{ product.name }}" class="object-cover w-full h-full">
            </div>
            <div class="px-4 pt-2 flex-grow">
                <div class="font-bold text-lg mb-2">{{ product.name }}</div>
            </div>
            <div class="px-4">
                <div class="flex justify-between items-center">
                    {% if product.promo %}
                    <div>
                        <span class="font-light text-lg">{{ product.price_promo | floatformat }} €</span>
                        <del class="text-red-500 text-sm line-through">{{ product.price | floatformat }} €</del>
                    </div>
                    {% else %}
                    <span class="font-light text-lg">{{ product.price | floatformat }} €</span>
                    {% endif %}
                </div>
            </div>
            <div class="px-5 py-5 flex justify-center mt-auto">
                <a href="{% url 'product' product.slug %}" class="bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-1 text-center w-full rounded-md text-sm mx-auto">
                    {% translate "See details" %}
                </a>
            </div>
        </div>
      
        {% endfor %}
    </div>
</div>
<div class="mx-auto flex flex-col w-5/6 gap-10 h-3/6 my-20">

    <div class="relative mx-auto   h-60 overflow-hidden  md:h-96">
        <img class="rounded-lg" src="{% static 'images/index_img1.webp' %}" alt="image 1">
    </div>
    <div class="relative  mx-auto  h-60 overflow-hidden   md:h-96">
        <img class="rounded-lg" src="{% static 'images/index_img2.webp' %}" alt="image 2">
    </div>
</div>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#element', {
      strings: ['Welcome to your service...', 'Receive 10% off all new registrations'],
      typeSpeed: 50,
  
      showCursor: false,
      
    });
  </script>











{% endblock %}