{% load i18n %}

<div>
    <h4>{{ address.name }} {% if address.default %} {% translate "-default" %} {% endif %}</h4>
    <p>
        {{ address.address_1 }}
    </p>
    {% if address.address_2 %}
    <p>
        {{ address.address_2 }}
    </p>
    {% endif %}
    <p>
        {{ address.city }}, {{ address.zip_code }}
    </p>
    <p>
        {{ address.get_country_display | upper }}
    </p>

    {% if not address.default %}
       
        <a href="{% url 'set-default-shipping' address.pk %}">
            {% translate "Set as default" %}
        </a>

    {% endif %}

</div>