{% extends 'user_admin.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="p-2 mt-20 sm:ml-64 mx-4 sm:mx-auto">
    {% if messages %}
        {% for message in messages %}
            <div class="w-auto mx-auto">
                <div class="bg-white font-thin p-4 rounded-lg shadow-md alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="flex justify-center items-center gap-20 flex-col"> 
        <div class="p-8 space-y-6 bg-gray-200 rounded-lg shadow-md w-full max-w-md mx-auto">
            <h1 class="text-3xl font-bold text-black text-center">{% translate "Reset Password" %}</h1>
            <form class="space-y-6" method="POST" action="{% url 'set_password' %}">
                {% csrf_token %}
                {{ password_form.non_field_errors }}
                <div class="container">
                    <div>
                        <label for="old_password" class="block text-black text-sm font-medium text-gray-700 my-2">{% translate "Mot de passe actuel" %}</label>
                        {{ password_form.old_password }}
                        {% for error in password_form.old_password.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="new_password1" class="block text-black text-sm font-medium text-gray-700 my-2">{% translate "New password" %}</label>
                        {{ password_form.new_password1 }}
                        {% for error in password_form.new_password1.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="new_password2" class="block text-black text-sm font-medium text-gray-700 my-2">{% translate "Confirm new password" %}</label>
                        {{ password_form.new_password2 }}
                        {% for error in password_form.new_password2.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="captcha" class="block text-black text-sm font-medium text-gray-700 my-4 "></label>
                        {{ password_form.captcha }}
                        {% for error in password_form.captcha.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" name="password_form"
                class="w-full mt-5 mb-3 flex justify-center py-2 px-4 border border-transparent rounded-full  shadow-sm text-lg font-medium text-white bg-black hover:bg-yellow-500 hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black-500">
                        {% trans "Reset " %}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}